
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(./src/LW002.jpg);
    background-position: center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: relative; */
}
    @media (max-width: 600px) {
        body {
            flex-direction: column; 
            font-size: 10px;
        }
    }
    
    @media (min-width: 601px) and (max-width: 1200px) {
        body {
            flex-direction: row;
            font-size: 10px;
        }
    }
    
    @media (min-width: 1201px) {
        .body {
            /* flex-direction: row; */ 
            font-size: 10px;
        }
}

.header{
    margin: 0;
    padding: 1em;
}

.container {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 4em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: left;
    color: black;
    height: 10vh;
}
.subtitle {
    height: 7vh;
    margin-bottom: 3vh;
    font-size: 2em;
    font-style: italic;
    color: rgb(57, 57, 57);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu {
    justify-content: center;
    list-style-type: none;
    display: flex;
    font-size: 1.5em;
    padding: 0%;
    margin: 0%;
}
.menu li a {
    padding: 10px 20px;
    border-radius: 5px;
    display: list-item;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
.menu li a:hover {
    background-color: black;
    color: white;
}

.home_text {
    color: black;
    font-size: 16px;
    font-style: italic;
    /*margin-top: 15vh;*/
    margin-bottom: 5vh;
}
.proyectos_text {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.5em;
    font-style: italic;
    /*margin-top: 15vh;*/
}
.contacto_text {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.5em;
    font-style: italic;
    gap: 40px;
}
.comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    color: black;
}

.mensaje {
    color: green;
    margin-top: 10px;
}
.highlight {
    background-color: rgb(0, 255, 247);
}
.footer {
    height: 0vh;
    color: black;
    font-style: italic;
    text-align: center;
}

/*{
    outline: 1px red solid;
}