html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
} 

body {
    background-image: url(./src/LW002.jpg);
    background-position: center;
    background-size: cover;
    color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
}
    @media (max-width: 600px) {
        body {
            flex-direction: column; 
            font-size: 10px;
        }
    }
    
    @media (min-width: 601px) and (max-width: 1200px) {
        body {
            flex-direction: row;
            font-size: 10px;
        }
    }
    
    @media (min-width: 1201px) {
        .body {
            /* flex-direction: row; */ 
            font-size: 10px;
        }
}

.header{
    margin: 0;
    padding: 1em;
    margin-left: 260px; /* Ajusta este valor al ancho de tu barra */
    padding: 20px;
    flex: 0;
}

.barra_nav {
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.nav {
    display: flex;
    justify-content: center;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #e9ecef;
}

.container {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
}

.container-fluid {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.contenido {
    margin-top: 100px;
}

.title {
    font-size: 3rem;
    margin: 0;
    color: black;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    color: black;
}

main {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin-top: 100px;
}

.home_text {
    color: black;
    font-size: 16px;
    font-style: italic;
}
.proyectos_text {
    justify-content: flex-start;
    color: black;
    font-size: 1.5em;
    font-style: italic;
}
.contacto_text {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.5em;
    font-style: italic;
    gap: 40px;
    margin-top: 100px;
}

.comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.mensaje {
    color: green;
    margin-top: 10px;
}

.highlight {
    background-color: rgb(0, 255, 247);
}

.footer {
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
}
/*{
    outline: 1px red solid;
}