* {
    
   margin: 0;
   padding: 0;
}
.header {
    background-color: aqua;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between
}
.header__logo {
    color: white;
    
    
}
.header__title__container {
    background-color: yellow;
}
.header__links__container {
    background-color: orange;
}
.header__logo__container {
    background-color: blueviolet;
}